<div class="footer">
            <div class="pure-menu pure-menu-horizontal">
                <ul>
            
                    <li class="pure-menu-item"><a href="https://twitter.com/Nawdeep26" class="pure-menu-link">Twitter</a></li>
                    <li class="pure-menu-item"><a href="https://www.facebook.com/nawdeep.singh.9" class="pure-menu-link">Facebook</a></li>
                    <li class="pure-menu-item"><a href="https://www.linkedin.com/in/navdeep-kumar-923a1a131/" class="pure-menu-link">Linkedin</a></li>
                </ul>
            </div>
        </div>